.message-list {
    height: 400px;
    overflow: scroll;
    background: var(--secondary-color);

}

.message-list .msg-container .message-user {
    padding: 10px;
}

.message-list .msg-container .message-bot {
    padding: 10px;
}