h1 {
    font-family: 'Nanum Gothic',
        sans-serif;
}

p {
    font-family: 'Nanum Gothic',
        sans-serif;
    font-size: 23px;
}

.app {
    padding: 70px;
}

.navi {
    opacity: 1;
    background-color: #FFDC00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.navi:hover {

    text-align: center;
    background-color: #FFFFFF;
}