:root {
    --main-color: #7e96da;
    --main-user-color: #d05eca;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: rgb(179, 173, 212);
    --send-message-form-chat: rgb(255, 255, 255);
}




.send-message-form {
    background: var(--send-message-form);
    display: flex;
}


.send-message-form .onChat {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form-chat);
    font-weight: 200;

}

.send-message-form .initChat {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}