:root {
    --main-color: #7e96da;
    --main-user-color: #d05eca;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: #3e5869;
}

#root {
    height: 100%;
}

.app {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas:
        "m m m m m m"
        "m m m m m m"
        "m m m m m m"
        "m m m m m m"
        "m m m m m m"
        "f f f f f f";
}



.message {
    margin: 15px 0;

}

.message-user {
    margin: 15px 0;
    text-align: end;


}

.message-bot {
    margin: 15px 0;
    text-align: start;

}



.message .message-username {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;



}

.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;

}

.message-user .message-text {
    background: var(--main-user-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;

}

.message-bot .message-text-bot {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;

}


.message-list {
    height: 400px;
    overflow: scroll;
    background: var(--secondary-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}