p {
    font-size: 17px;
    text-align: justify;
}

.visible.transition {

    margin-top: 0 !important;
    display: inline-block !important;
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.pub-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.abstract {
    overflow-y: auto;
}

.abstract::-webkit-scrollbar {
    width: 7px;


}

.abstract::-webkit-scrollbar-track {
    background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}